* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 5rem auto;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* button {
    font-family: Montserrat, serif;
    letter-spacing: 1px;
    text-decoration: none;
    border: 0;
    padding: 16px 32px;
    color: white;
    background: #332642;
    border-radius: 5px;
    cursor: pointer;
} */


.slider {
    background: #cfcfcf;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    transition: 0.2s ease-out;
}

.slider::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 45px;
    height: 45px;
    left: 4px;
    bottom: 3px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

input:checked+.slider {
    background: #332642;
}

input:checked+.slider::before {
    transform: translateX(48px);
}

input {
    display: none;
}

.dark-mode {
    background: #121212;
}